In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
TRAIN = './data/Train.csv'
TEST = './data/Test.csv'

In [9]:
train_data = pd.read_csv(TRAIN)
test_data = pd.read_csv(TEST)

In [4]:
train_data.head()

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
0,0,2011-01-01,164,1.0,5,50,2,1,20.0,0.0,...,0,0,0,0,0,0,0,0,0,3947000
1,1,2011-01-01,66,NaN,5,48,2,0,20.0,NaN,...,0,0,0,0,0,0,0,0,0,2525000
2,2,2011-01-01,642,2.0,21,61,2,0,10.0,0.0,...,0,0,0,0,0,0,0,0,0,19984000
3,3,2011-01-01,562,1.0,11,95,3,1,10.0,NaN,...,0,0,0,0,0,0,0,0,0,9727000
4,4,2011-01-01,151,NaN,9,34,1,0,20.0,NaN,...,0,0,0,0,0,0,0,0,0,2662000

In [6]:
train_data.describe()

,id,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
count,100000.000000,100000.000000,70042.000000,100000.000000,100000.000000,100000.000000,100000.000000,95107.000000,70242.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05
mean,49999.500000,336.877890,0.534436,5.232540,52.230030,2.118770,0.400430,22.034866,0.500384,2.487240,...,0.003640,0.001750,0.000810,0.007980,0.007190,0.002200,0.000290,0.001600,0.000290,4.709459e+06
std,28867.657797,194.234482,0.573261,3.892729,17.652099,0.829573,0.548114,8.314644,0.500003,1.955085,...,0.060223,0.041797,0.028449,0.088974,0.084489,0.046853,0.017027,0.039968,0.017027,3.969739e+06
min,0.000000,0.000000,0.000000,1.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.570000e+05
25%,24999.750000,169.000000,0.000000,2.000000,40.000000,1.000000,0.000000,15.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.384000e+06
50%,49999.500000,337.000000,0.000000,4.000000,52.000000,2.000000,0.000000,25.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.739000e+06
75%,74999.250000,506.000000,1.000000,7.000000,60.000000,3.000000,1.000000,30.000000,1.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.700000e+06
max,99999.000000,671.000000,2.000000,25.000000,217.000000,6.000000,2.000000,30.000000,1.000000,12.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.356700e+07

Есть пропущенные значения у колонок **build_tech**, **metro_dist** и **g_lift**

In [27]:
test_data.build_tech.notnull().value_counts()

True     70045
False    29955
Name: build_tech, dtype: int64

Хочу заполнить пропуски для поля build_tech, построив модель предсказания

In [7]:
all_data = train_data.copy()

In [32]:
all_data = all_data.append(test_data, ignore_index=True, sort=False)

In [37]:
build_tech_not_null = all_data[all_data.build_tech.notnull()]

In [38]:
features_to_predict_build_tech = ['street_id', 'floor', 'area', 'rooms',
       'balcon', 'n_photos', 'kw1', 'kw2', 'kw3',
       'kw4', 'kw5', 'kw6', 'kw7', 'kw8', 'kw9', 'kw10', 'kw11', 'kw12',
       'kw13']

In [39]:
target_build_tech = 'build_tech'

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
classifier = DecisionTreeClassifier(random_state=0).fit(build_tech_not_null[features_to_predict_build_tech], build_tech_not_null[target_build_tech])

In [44]:
classifier

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [54]:
all_data['predicted_build_tech'] = classifier.predict(all_data[features_to_predict_build_tech])

In [56]:
all_data.describe()

,id,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,...,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price,predicted_build_tech
count,200000.000000,200000.000000,140087.000000,200000.000000,200000.000000,200000.000000,200000.000000,190138.000000,140259.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.00000,200000.000000,200000.000000,200000.000000,1.000000e+05,200000.000000
mean,99999.500000,336.223755,0.534068,5.237455,52.217540,2.118235,0.399430,22.007305,0.500139,2.488000,...,0.001515,0.000920,0.007925,0.007475,0.00208,0.000340,0.001520,0.000270,4.709459e+06,0.532975
std,57735.171256,194.184038,0.573715,3.903165,17.671614,0.828902,0.547966,8.317318,0.500002,1.956746,...,0.038894,0.030318,0.088669,0.086135,0.04556,0.018436,0.038958,0.016429,3.969739e+06,0.574155
min,0.000000,0.000000,0.000000,1.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,4.570000e+05,0.000000
25%,49999.750000,168.000000,0.000000,2.000000,40.000000,1.000000,0.000000,15.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,2.384000e+06,0.000000
50%,99999.500000,337.000000,0.000000,4.000000,52.000000,2.000000,0.000000,25.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,3.739000e+06,0.000000
75%,149999.250000,505.000000,1.000000,7.000000,60.000000,3.000000,1.000000,30.000000,1.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,5.700000e+06,1.000000
max,199999.000000,671.000000,2.000000,25.000000,217.000000,6.000000,2.000000,30.000000,1.000000,12.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,8.356700e+07,2.000000