In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
TRAIN = './data/Train.csv'
TEST = './data/Test.csv'

In [3]:
train_data = pd.read_csv(TRAIN)

In [4]:
train_data.head()

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
0,0,2011-01-01,164,1.0,5,50,2,1,20.0,0.0,...,0,0,0,0,0,0,0,0,0,3947000
1,1,2011-01-01,66,NaN,5,48,2,0,20.0,NaN,...,0,0,0,0,0,0,0,0,0,2525000
2,2,2011-01-01,642,2.0,21,61,2,0,10.0,0.0,...,0,0,0,0,0,0,0,0,0,19984000
3,3,2011-01-01,562,1.0,11,95,3,1,10.0,NaN,...,0,0,0,0,0,0,0,0,0,9727000
4,4,2011-01-01,151,NaN,9,34,1,0,20.0,NaN,...,0,0,0,0,0,0,0,0,0,2662000

In [5]:
train_data.describe()

,id,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
count,100000.000000,100000.000000,70042.000000,100000.000000,100000.000000,100000.000000,100000.000000,95107.000000,70242.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05
mean,49999.500000,336.877890,0.534436,5.232540,52.230030,2.118770,0.400430,22.034866,0.500384,2.487240,...,0.003640,0.001750,0.000810,0.007980,0.007190,0.002200,0.000290,0.001600,0.000290,4.709459e+06
std,28867.657797,194.234482,0.573261,3.892729,17.652099,0.829573,0.548114,8.314644,0.500003,1.955085,...,0.060223,0.041797,0.028449,0.088974,0.084489,0.046853,0.017027,0.039968,0.017027,3.969739e+06
min,0.000000,0.000000,0.000000,1.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.570000e+05
25%,24999.750000,169.000000,0.000000,2.000000,40.000000,1.000000,0.000000,15.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.384000e+06
50%,49999.500000,337.000000,0.000000,4.000000,52.000000,2.000000,0.000000,25.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.739000e+06
75%,74999.250000,506.000000,1.000000,7.000000,60.000000,3.000000,1.000000,30.000000,1.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.700000e+06
max,99999.000000,671.000000,2.000000,25.000000,217.000000,6.000000,2.000000,30.000000,1.000000,12.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.356700e+07

Есть пропущенные значения у колонок **build_tech**, **metro_dist** и **g_lift**